body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Background utama untuk semua page */
.app-body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #a8edea, #fed6e3);

}

/* Bagi card naik sikit dari background */
.card {
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Navbar hijau lebih pekat */
.navbar-success {
  background-color: #198754;
}

